# Segmenting and Clustering Neighbourhoods in Toronto

In [9]:
import pandas as pd
import numpy as np
import requests

In [10]:
from bs4 import BeautifulSoup

In [11]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(source, 'html5lib')

# Segmenting and Clustering Neighbourhoods in Toronto

In [13]:
import pandas as pd
import numpy as np
import requests

In [15]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)

wiki_raw = pd.read_html(wiki_page.content, header = 0)[0]
df = wiki_raw[wiki_raw.Neighborhood != 'Not assigned']
df.reset_index(inplace = True)
df.head()

   index  ...                                 Neighborhood
0      2  ...                                    Parkwoods
1      3  ...                             Victoria Village
2      4  ...                    Regent Park, Harbourfront
3      5  ...             Lawrence Manor, Lawrence Heights
4      6  ...  Queen's Park, Ontario Provincial Government

[5 rows x 4 columns]

In [16]:
df.groupby(['Post Code']).first()

           index  ...                                       Neighborhood
Post Code         ...
M1B            9  ...                                     Malvern, Rouge
M1C           18  ...             Rouge Hill, Port Union, Highland Creek
M1E           27  ...                  Guildwood, Morningside, West Hill
M1G           36  ...                                             Woburn
M1H           45  ...                                          Cedarbrae
...          ...  ...                                                ...
M9N           98  ...                                             Weston
M9P          107  ...                                          Westmount
M9R          116  ...  Kingsview Village, St. Phillips, Martin Grove ...
M9V          143  ...  South Steeles, Silverstone, Humbergate, Jamest...
M9W          152  ...                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [17]:
len(df['Post Code'].unique())

103

In [19]:
df[df['Borough'] == 'Not assigned']
df.head()

   index  ...                                 Neighborhood
0      2  ...                                    Parkwoods
1      3  ...                             Victoria Village
2      4  ...                    Regent Park, Harbourfront
3      5  ...             Lawrence Manor, Lawrence Heights
4      6  ...  Queen's Park, Ontario Provincial Government

[5 rows x 4 columns]

In [20]:
df.shape

(103, 4)